* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

nav {
    margin-top: 20px;
}
.navLogo img {
    height: 50px;
    cursor: pointer;
}
.navLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navLinks h2 {
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
}
.navLinks h2:hover {
    color: #47A2D2;
}
.navLogin {
    margin-right: 50px;
}
.navLogin button {
    font-weight: bolder;
    margin-left: 10px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}
.navButton1 {
    border: none;
    color: black;
    background-color: white;
    
}
.navButton1:hover {
    color: #47A2D2;
}
.navButton2 {
    border: 1px solid #47A2D2;
    background-color: #47A2D2;
    color: white;
}
.navButton2:hover {
}